@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --background: #f3f4f6; /* cinza claro */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply h-screen text-black;
  background: url('/images/fundo.png') no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* Botões padrão */
button {
  @apply rounded px-4 py-2;
}

/* Botão principal: cadastrar, enviar, etc */
.button-principal {
  @apply bg-green-600 text-white hover:bg-green-700;
}

/* Botão de retorno */
.button-retorno {
  @apply text-white bg-transparent hover:bg-green-700;
}

input, textarea {
  @apply w-full p-2 border rounded bg-white text-black;
}


/* Painel padrão: caixa centralizada, escuro */
.panel {
  @apply max-w-md mx-auto mt-10 p-6 rounded-lg shadow-lg bg-gray-600 border border-white text-black space-y-4;
}

/* Logomarca padrão */
.logo {
  @apply w-32 mt-4 ml-4;
}
